body
{
	font-family:Arial, sans-serif;
	font-size: 16pt;
}
p
{
	line-height:24pt;
	color:#FFF;
}
#blockly
{
	border:1px solid #CCC;
	padding-left:0;
	height:700px;
}
#blockly_editor
{
	width:49%;
	float:left;
}
#description
{
	width:49%;
	float:right;
	margin-top:0;
	color:#000;
}
#button_run
{
	margin-top: 34%;
	font-size: 22px;
	margin-left: 23%;
	width: 110px;
	height: 45px;
	background-color: green;
	cursor: pointer;
}

#button_k8s
{
	margin-left:20%;
}

#button_oc
{
	margin-left:20%;
}

.btn {
	background-color: red;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin:10px
}

.big-btn {
	width: 90px;
	height: 40px;
}

.header {
	font-family:monospace;
	text-align: center;
	color:red;
	font-weight: bold;
	font-size: 30pt;
}
.header .subheader{
	color:blueviolet;
	font-weight: lighter;
	font-size: 20pt;
}



.popup {
	visibility: hidden;
    margin: 6px 34px 7px 0;
    display: block;
    font-size: 19px;
    padding: 27px 34px;
    text-align: right;
    background: beige;
    float: right;
}